[submodule "home/.zsh/plugins/zsh-autosuggestions"]
	path = home/.zsh/plugins/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions.git
[submodule "home/.zsh/plugins/zsh-syntax-highlighting"]
	path = home/.zsh/plugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule "home/.zsh/plugins/fast-syntax-highlighting"]
	path = home/.zsh/plugins/fast-syntax-highlighting
	url = https://github.com/zdharma-continuum/fast-syntax-highlighting.git
[submodule "home/.zsh/powerlevel10k"]
	path = home/.zsh/powerlevel10k
	url = https://github.com/romkatv/powerlevel10k.git
[submodule "vendor/oh-my-zsh"]
	path = vendor/oh-my-zsh
	url = https://github.com/ohmyzsh/ohmyzsh.git
[submodule "home/themes/icons/buuf_nestort"]
	path = home/themes/icons/buuf_nestort
	url = https://git.disroot.org/eudaimon/buuf-nestort.git
